<div class="topnav">
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="catalog" routerLinkActive="active">Catalog</a>
    <a routerLink="cart" routerLinkActive="active">Cart</a>
    <a routerLink="about" routerLinkActive="active">About us</a>
   <div *ngIf="!loggedIn; then login else profile"></div>

    <ng-template #login>

      <li><a routerLink="profile" routerLinkActive="active">Login</a></li>

    </ng-template>

    <ng-template #profile>

      <li class="dropdown" ngbDropdown>

        <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          profile

        </a>

        <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="dropdownMenuButton">

          <li class="dropdown-item"><a [routerLink]="['/profile/user']" style="color: blue; text-decoration: underline;">user details</a></li>

          <li class="dropdown-item"><button class="btn btn-link" (click)="logout()">Logout</button></li>

        </ul>

      </li>

    </ng-template>
</div>