.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1{
    text-align:center;
  }
  .card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 50%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  