<h1>Top five products</h1>
<div class="card-container">
      <div class="card" *ngFor="let product of popularProducts">
        <img src={{product.imageURL}} class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Price is:${{product.price}}</p>
          <a href={{product.link}} class="btn btn-primary">add to cart</a>
        </div>
      </div>      
</div>
<div class="findiv">
  <a href="https://www.facebook.com/zuck/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
  <a href="https://www.instagram.com/zuck/?hl=en" class="fa fa-instagram"></a>

</div>