<div class="col-4 mt-5 mx-auto">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>sign up</h1>
    <div class="form-group">
      <label>name:</label>
      <input type="name" name="name" class="form-control" placeholder="enter name" formControlName="name" />
      <div *ngIf="!registerForm.controls['name']?.valid && (registerForm.controls['name']?.dirty || registerForm.controls['name']?.touched)" style="color: red;">invalid name</div>
     </div>
     <div class="form-group">
      <label>gender:</label>
      <br>
      <input type="radio" value="male" formControlName="gender" checked/>
      <label>male:</label>
      <br>
      <input type="radio" value="female" formControlName="gender"/>
      <label>female:</label>
      <div *ngIf="!registerForm.controls['gender']?.valid && (registerForm.controls['gender']?.dirty || registerForm.controls['gender']?.touched)" style="color: red;">invalid name</div>
     </div>
    <div class="form-group">
    <label>Email:</label>
    <input type="email" name="email" class="form-control" placeholder="enter email" formControlName="email" />
    <div *ngIf="!registerForm.controls['email']?.valid && (registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched)" style="color: red;">invalid email</div>
   </div>
    <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" name="password" placeholder="enter password" formControlName="password" />
    <div *ngIf="!registerForm.controls['password']?.valid && (registerForm.controls['password']?.dirty || registerForm.controls['password']?.touched)" style="color: red;">invalid password</div>
    </div>
    <div class="row">
    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">submit</button>
    </div> 
  </form>
  </div>
 